<li class="item" data-id-first="<%= @list.id %>">
	<div class="panel panel-danger box-shadow--8dp">
	  <div class="panel-heading">
	    <h5 class="panel-header-title">Mission Critical Task One</h5>
	  </div>
	  <div class="panel-body">
	    <%= form_for(@list, url: {action: "update"}, :remote => true) do |f| %>
			   	<%= f.text_field :item_one, placeholder: 'Add a task', :class => "edit form-control", :id => "first-form" %>
			  <% end %>
	  </div>
	  <div class="panel-footer"><input class="toggle panel-title", id="form-input" type="checkbox" unchecked=""> Complete</div>
	</div>
</li>