<% if @list.is_completed == false %>
	<li class="item" data-id-fourth="<%= @list.id %>">
		<div class="panel panel-warning box-shadow--8dp">
		  <div class="panel-heading">
		    <h5 class="panel-header-title">Task Four</h5>
		  </div>
		  <div class="panel-body">
		  	<h4 class="panel-p-tag" id="item-four-complete"><%= @list.item_four %></h4>
		  </div>
		</div>
	</li>
<% else %>
	<li class="item" data-id-fourth="<%= @list.id %>">
		<div class="panel panel-warning box-shadow--8dp">
		  <div class="panel-heading">
		    <h5 class="panel-header-title">Task Four</h5>
		  </div>
		  <div class="panel-body">
		  	<h4 class="panel-p-tag strikethrough" id="item-four-complete"><%= @list.item_four %></h4>
		  </div>
		</div>
	</li>
<% end %>
