<section class="todo-app">
	<section class="main">
		<ul class="todo-list">
			<%= render 'lists/item_one' %>
			<%= render 'lists/item_two' %>
			<%= render 'lists/item_three' %>
			<%= render 'lists/item_four' %>
		</ul>
	</section>
</section>

