<div class="col-lg-6 col-md-6" id="main-landing">
          <h1>The todo app for <br>truly productive people</h1>
          <br>
          <h3>Inspired by the writings of <a href='http://www.fourhourworkweek.com'>Tim Ferris</a><br> in the 4 Hour Work Week</h3>
        </div>
        <div class="col-lg-6 col-md-6" id="main-image">
          <%= image_tag("ipad-hand.png") %>
        </div>
      </div>
      </main>
        <div class="row mt centered" id="landing-page-bottom">
          <h1>Your todo list is too long.</h1>
          <h3>KANgknkeg ewgkrg wrk grw </h3>
        </div>